---
import Layout from '../layouts/Layout.astro';

import MjolnirPoster from '../assets/art/mjolnir.jpg'
import tombRaiderPoster from '../assets/art/rottr.jpg'
import alienSkullSpider from '../assets/art/alien_skull_spider.jpg'
import c124 from '../assets/art/c124.jpg'
import fedoraSkull from '../assets/art/fedora_skull.jpg'
import mermay from '../assets/art/mermay.jpg'
import neanderthalSkull from '../assets/art/neanderthal_skull.jpg'
import p from '../assets/art/p.jpg'
import roseInHand from '../assets/art/rose_in_hand.jpg'
import u from '../assets/art/u.jpg'
import v from '../assets/art/v.jpg'
---

<Layout>
  <div class="container">
    <h1>Art</h1>

    <div class="gallery gallery--two-columns">
      <img src={MjolnirPoster.src} alt="Mjolnir poster" />
      <img src={tombRaiderPoster.src} alt="Rise of the Tomb Raider poster" />
    </div>
      
    <div class="gallery">
      <img src={p.src} alt="P" />
      <img src={v.src} alt="V" />
      <img src={u.src} alt="U" />
      
      <img src={alienSkullSpider.src} alt="Alien skull" />
      <img src={neanderthalSkull.src} alt="Neanderthal skull" />
      <img src={fedoraSkull.src} alt="Skull with a fedora" />
      
      <img src={mermay.src} alt="Mermay" />
      <img src={c124.src} alt="Mercedes-Benz C124" />
      <img src={roseInHand.src} alt="Rose in hand" />
    </div>
  </div>
</Layout>

<style>
  .gallery {
    display: grid;
    gap: 1rem;
    margin-block-end: 1rem;
  }

  @media (min-width: 768px) {
    .gallery {
      grid-template-columns: repeat(3, minmax(14rem, 1fr));
    }

    .gallery--two-columns {
      grid-template-columns: repeat(2, minmax(14rem, 1fr));
    }
  }

  img {
    width: 100%;
    height: auto;
  }
</style>